@import './variables';

$hamburger-types: (spin);

$hamburger-padding-x: $spacing;
$hamburger-padding-y: $spacing;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: white;